type hal_wifi_default, domain;
type hal_wifi_default_exec, exec_type, file_type, vendor_file_type;

init_daemon_domain(hal_wifi_default)

set_prop(hal_wifi_default, wlan_fw_prop)
