type deviceid_prop, property_type;
type vendor_displayfeature_prop, property_type;
type vendor_fp_prop, property_type;
type persist_recovery_update_prop, property_type;
type vendor_system_prop, property_type;
type vendor_usb_config_prop, property_type;
type render_prop, property_type;
type mtk_pq_prop, property_type, mtk_core_property_type;
type wlan_fw_prop, property_type;
type thermal_engine_prop, property_type, mtk_core_property_type;
type persist_atm_prop, property_type;
