allow system_app proc_pagetypeinfo:file r_file_perms;
allow system_app proc_vmallocinfo:file r_file_perms;
allow system_app mtk_hal_pq:binder call;
allow system_app sysfs_zram:dir search;
allow system_app sysfs_zram:dir r_dir_perms;
allow system_app sysfs_zram:file r_file_perms;
allow system_app storaged:binder call;
#allow system_app sw_sync_device:chr_file rw_file_perms;
allow system_app wificond:binder call;

# Allow system_app to read fps info node
allow system_app sysfs_fps:dir search;
allow system_app sysfs_fps:file r_file_perms;

allow system_app mtk_hal_pq_hwservice:hwservice_manager find;
binder_call(system_app, mtk_hal_pq)
binder_call(system_app, storaged)
binder_call(system_app, wificond)

get_prop(system_app, vendor_default_prop)
