type hal_usb_default, domain;
type hal_usb_default_exec, exec_type, file_type, vendor_file_type;

init_daemon_domain(hal_usb_default)

binder_call(usbd, hal_usb_default);
