# Policy File of /system/bin/vtservice Executable File
type vtservice, domain;
type vtservice_exec, system_file_type, exec_type, file_type;
typeattribute vtservice coredomain;
type vtservice_hidl, domain, mtkimsapdomain;
type vtservice_hidl_exec , exec_type, file_type, vendor_file_type;

init_daemon_domain(vtservice)
binder_use(vtservice)
binder_call(vtservice, mediaserver)
binder_service(vtservice)
init_daemon_domain(vtservice_hidl)

allow vtservice radio_service:service_manager find;
allow vtservice vtservice_service:service_manager add;
